@use "../abstracts" as *;

// page sections
body {
  background-color: $black;
  color: $white;
}

#navbar {
  background-color: $black;

  a {
    color: $white;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $red;
    }
  }
}

#menu {
  background-color: transparent;
  border: none;

  line {
    stroke: $red;
  }
}

.footer {
  background-color: $purple;
}

// elements
a {
  color: $gray;
  border-bottom: 2px solid $dark-gray;

  &:hover {
    border-bottom: 2px solid $red;
  }
}

button {
  background-color: transparent;
  border: 2px solid $red;
  color: $white;

  &:hover {
    background-color: $red;
  }

  a {
    border-bottom: none;
    color: $white;

    &:hover {
      border-bottom: none;
    }
  }
}

.emphasis {
  color: $red;
}

.page-title {
  color: $red;
  -webkit-text-fill-color: $black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $red;
}

input {
  background-color: transparent;
  border: 1px solid $red;
  color: white;

  &:focus {
    outline: 0;
  }

  &[type="submit"]:hover {
    background-color: $red;
  }
}

.socials {
  svg {
    color: $red;

    &:hover {
      color: $white;
    }
  }

  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

// print
@media print {
  body {
    background-color: $white;
    color: $black;
  }
}

// mobile
@media screen and (max-width: $laptop) {
  #navbar ul {
    background-color: $black;
  }
}
