@use "../abstracts" as *;

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .logo {
    position: absolute;
    @include responsive(top, 10px, 10px, 20px);
    left: 15px;
  }

  ul {
    position: absolute;
    @include responsive(top, 22px, 22px, 32px);
    right: 5px;
  }

  #menu {
    position: absolute;
    top: 33px;
    right: 15px;
  }
}

@supports (display: flex) {
  #navbar {
    .logo, ul, #menu {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

// mobile
@media screen and (max-width: $laptop) {
  #navbar ul {
    position: absolute;
    top: 0;
    left: 0;
  }
}
