@use "../abstracts" as *;

#navbar {
  box-sizing: border-box;
  width: 100vw;
  @include responsive(height, 80px, 80px, 100px);
}

.logo {
  height: 60px;
  width: 60px;
}

input[type="text"]{
  width: 60%;
  max-width: 400px;
}

input {
  box-sizing: border-box;
  @include scale(height, $base*1.5);
}

.socials svg {
  font-size: 24px;
}

// mobile
@media screen and (max-width: $laptop) {
  #navbar ul {
    height: calc(100vh - 80px);
    width: 100vw;
  }
}
