@use "../abstracts" as *;

.socials svg {
  transition: color .35s;
}

a {
  transition: border-bottom .35s;
}

button {
  transition: background-color .35s; 
}

input[type="submit"] {
  transition: background-color .35s;
}

// mobile
@media screen and (max-width: $laptop) {
  #navbar ul {
    transition: .5s opacity;
  }
}
