//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Grotesk&display=swap');
$header: 'Montserrat', Helvetica, sans-serif;
$body: 'Space Grotesk', Courier, monospace;

// colors
$black: #000000;
$purple: #131117;
$red: #EB4727;
$white: #FFFFFF;
$gray: #8896AB;
$dark-gray: #333B48;

// breakpoints
$tablet: 760px;
$laptop: 1199px;

// used for consistency in spacing and scaling across devices
$base: 16px;
$tablet-scale-factor: 1.25;
$laptop-scale-factor: 1.5;
