#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  padding: 20px;

  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0 15px;
    padding: 5px 0;
  }
}
