//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Grotesk&display=swap');
$header: 'Montserrat', Helvetica, sans-serif;
$body: 'Space Grotesk', Courier, monospace; 

// colors
$black: #000000;
$red: #EB4727;
$white: #f0f0f0;
