@use "../abstracts" as *;

#navbar li {
  display: inline-block;
}

#menu {
  display: none;

  line {
    transform-origin: center;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: $laptop) {
  #navbar {
    ul {
      visibility: hidden;
      opacity: 0;
    }

    li {
      display: block;
    }
  }

  #menu {
    display: block;

    &.menu-toggled + ul {
      visibility: visible;
      opacity: 1;
    }
  }
}

// print
@media print {
  #navbar {
    display: none;
  }
}

@supports (display: flex) {
  #navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  @media screen and (max-width: $laptop) {
    #navbar ul {
      flex-flow: column nowrap;
      justify-content: center;
    }
  }
}
